<h1>My tasks</h1>
<% @tasks.each do |task| %>
  <h2><%= link_to task.title, task_path(task) %></h2>
  <%= link_to 'delete this task', tasks_path(task), method: :delete %>
<% end %>
<br>
<%= link_to 'create new task', tasks_new_path %>


